@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

body{
    margin: 0px;
    background-color: black;
    color: aliceblue;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(187, 0, 255);
}

.navbar-left{
    padding-left: 20px;
}

.navbar-right {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.a-element {
    padding: 10px;
    margin: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    

}
.home-left{
    width: 50%;
    text-align: right;
    padding: 90px;
 
}
.home-right{
    width: 50%;
   
}

.img-logo {
    height: 70px;
    padding-left: 20px;

}
.img{
    height: 250px;
    
    
    
}

.home-h1{
    font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.home-p {
    font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.services{
    padding: 50px;
    text-align: center;

}
.testimonials{
    padding: 50px;
    text-align: center;

}
.ser-h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    color: rgb(79, 252, 79);
    font-size: 45px;
}
.services-sub-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.services-card{
    border: 2px solid gainsboro;
    margin: 20px;
    width: 700px;
    
}

.sc-h1{
    font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.sc-p{
    font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.contact{
    text-align: center;
}
.contact-info{
    font-family: "Encode Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.insta{
    height: 50px;
    padding: 10px;
}
.social-icon{
    padding: 20px;
}

.test-logo{
    height: 200px;
}

    
